<! DOCTYPE html>
<html>
	<head>
		<title>{{title}})</title>
		<meta charset = "utf-8"></meta>
		<meta name="viewport" content="device-width=100%;initial-scale=1"></meta>
		<meta language="us-en"></meta>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


		<style>
			.navbar {
				border-radius: 0px;
				background-color: #f4511e;
				border: 1px solid #f4511e;
				color: white;
				margin-bottom: 0px !important;
				letter-spacing: 4px;
				z-index=9999;
				/*position: fixed;
				top:0px;*/
				
			}

			.MENUITEM {
				text-transform: uppercase;
				color: white;
				
			}

			.jumbotron{
				background-color:#f4511e;
				text-align: center;
				color: white;
				margin-top: 10px !important;
				padding: 100px 25px;
				margin-bottom: 0px !important;
				display:block;
			}

			.navbar li a, .navbar .navbar-brand, .navbar .navbar-brand span {
			    color: #fff !important;
			    margin:0px;
			}

			.navbar-nav li a:hover, .navbar-nav li a:active{
				background-color: white !important;
				color: f4511e !important;
				
			}

			.container-fluid{
				padding: 50px 25px;
			}

			.bg-grey{
				background-color: #f6f6f6;
			}

			.glyphicon{
				font-size: 50px;
				color: #f4511e;
			}

 			.glyphicon{
				font-size: 50px;
				color: #f4511e;
			}

			@media screen and (min-width:780px) {

			#icn_globe.glyphicon{
				font-size: 250px;
				color: #f4511e;
			}				
			}

			@media screen and (max-width:480px) {

			#icn_globe.glyphicon{
				font-size: 100px;
				color: #f4511e;
				vertical-align: top;
			}

			.jumbotron{
				display:none;
			}				
			}
		</style>
	</head>

	<body>

			<nav class="navbar navbar-default navbar-fixed-top" >
				<div class="container">
					<div class="nav navbar-header">
						<a class="navbar-brand" href="#">Site Logo</a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menubar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
      				
      				<div class="collapse navbar-collapse" id="menubar">
	      				<ul class = "nav navbar-nav navbar-right">
								<li><a class="MENUITEM" href="#about">About Us</a></li>
								<li><a class="MENUITEM" href="#services">Services</a></li>
								<li><a class="MENUITEM" href="#portfolio">Portfolio</a></li>
								<li><a class="MENUITEM" href="#pricing">Pricing</a></li>
								<li><a class="MENUITEM" href="#contactus">Contact Us</a></li>
	      				</ul>
      				</div>
				</div>
			</nav>
            <div class = "container-fluid">
			<div id="banner" class="jumbotron">
				<h1>{{company}}</h1>
				<p> Test Text</p>

			</div>
            </div>

			 <div id="portfolio" class="container-fluid" style="text-align: center;">
				<h1> Our Service Offerings </h1>
				
				<div class="row" style="margin-top: 50px;">
					<div class="col-sm-4">
						<span class="glyphicon glyphicon-envelope"></span>
						<h3> Mail Us</h1>
						<p> This is just text</p>
					</div>

					<div class="col-sm-4">
						<span class="glyphicon glyphicon-heart"></span>
						<h3> Mail Us</h1>
						<p> This is just text</p>
					</div>

					<div class="col-sm-4">
						<span class="glyphicon glyphicon-star"></span>
						<h3> Mail Us</h1>
						<p> This is just text</p>
					</div>
				</div>

				<div class="row" style="margin-top: 25px;">
					<div class="col-sm-4">
						<span class="glyphicon glyphicon-glass"></span>
						<h3> Mail Us</h1>
						<p> This is just text</p>
					</div>

					<div class="col-sm-4">
						<span class="glyphicon glyphicon-off"></span>
						<h3> Mail Us</h1>
						<p> This is just text</p>
					</div>

					<div class="col-sm-4">
						<span class="glyphicon glyphicon-signal"></span>
						<h3> Mail Us</h3>
						<p> This is just text</p>
					</div>
				</div>
			</div>

			<div id="services" class="container-fluid bg-grey" style="text-align: center;">
				<h1> Some of the work, we have delivered...</h1>

				<div class="row" style="padding-top: 50px;">
					<div class="col-sm-4" style="vertical-align:middle;">
					  <span id="icn_globe" class="glyphicon glyphicon-globe"></span>
					</div>

					<div class="col-sm-8" >
						
					
					
						<p style="text-align:justify;">
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam sapiente odio, amet ea officia delectus, deleniti ex corporis fugiat pariatur illum dolorem enim sed. Distinctio eius iste quaerat at.</span>
							<span>Id voluptate consectetur facilis, debitis, repellat odit sed labore a suscipit consequatur quae quia quidem doloremque dolorum delectus aut aspernatur mollitia, perferendis vel. Dignissimos dolores sit ab. Vitae, corporis aliquid.</span>
							<span>Quia temporibus consequuntur, voluptates fugit quae, laboriosam quos quasi dolorum et nobis alias reprehenderit qui. Ratione, quisquam nemo esse aperiam dolor cum nisi hic aliquid, molestias, suscipit, ducimus vero minus?</span>
							<span>Ea nulla laboriosam similique, impedit cum. Eaque pariatur maiores in, a. Beatae ipsam enim facilis, sapiente magnam in eius iure eos officia nam recusandae assumenda, corporis quidem consectetur natus expedita.</span>
							<span>Error nihil quidem rem id nulla quisquam distinctio nesciunt possimus perferendis dolore suscipit enim explicabo cupiditate assumenda ea, recusandae architecto? Soluta earum officiis alias suscipit voluptas dolor praesentium eius laboriosam.</span>
						</p>

						<p style="text-align:justify;">
											
							<span>In maiores fuga provident laborum corrupti sed dolor vel assumenda deserunt, odit, quae sit totam laboriosam ab vitae voluptatem, molestias est voluptate nam ea non blanditiis impedit. Ex dolore, magnam.</span>
							<span>Sint quos in reiciendis officiis voluptatum qui officia explicabo quaerat rerum sunt quia neque optio nihil recusandae, ab cumque, ex amet earum voluptas mollitia accusantium? Pariatur fuga enim natus velit.</span>
							<span>Amet dolorum, quisquam ad, ipsam quae quibusdam illo atque illum excepturi dignissimos autem, laboriosam ex. Corrupti ipsum veniam officia qui minima velit vitae, debitis, corporis mollitia magni dolores blanditiis minus.</span>
							<span>Perferendis non magnam, doloremque vero. Accusamus impedit nobis reiciendis sit commodi ullam nihil nisi aperiam distinctio totam. Hic cum enim molestias est laborum ea cupiditate suscipit ipsum, nobis saepe, consectetur.</span>
							<span>Incidunt iure ipsa maxime commodi quaerat veritatis odio ad accusantium neque fuga placeat vero illo repudiandae quibusdam consequuntur minima, aliquid sit sed quas, ut hic sint, rem necessitatibus delectus. Qui.</span>
						</p>
						
					</div>
					
				</div>
			</div>

			<div id="pricing" class="container" style="text-align: center;">
				<h1 style="padding-top: 50px; padding-bottom: 50px;"> We charge a genuine price!</h1>
				<div class="row">
					<div class="col-sm-4" >
					   <div class="thumbnail" style="margin:25px;">
							<img src="https://travelnoire.com/wp-content/uploads/2014/02/Eiffel-Tower-Paris-France-1050x700.jpg"></img>
							<h4 style="margin-top:20px;">Plan A</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quisquam sint, illum quis quam dicta odio recusandae magni sequi. Fuga, accusamus, reprehenderit. Quo fugit modi cupiditate veniam, nulla, ratione itaque!</p>
							</div>
					</div>

					<div class="col-sm-4" >
					   <div class="thumbnail" style="margin:25px;">
							<img src="https://travelnoire.com/wp-content/uploads/2014/02/Eiffel-Tower-Paris-France-1050x700.jpg"></img>
							<h4 style="margin-top:20px;">Plan A</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quisquam sint, illum quis quam dicta odio recusandae magni sequi. Fuga, accusamus, reprehenderit. Quo fugit modi cupiditate veniam, nulla, ratione itaque!</p>
							</div>
					</div>

					<div class="col-sm-4" >
					   <div class="thumbnail" style="margin:25px;">
							<img src="https://travelnoire.com/wp-content/uploads/2014/02/Eiffel-Tower-Paris-France-1050x700.jpg"></img>
							<h4 style="margin-top:20px;">Plan A</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quisquam sint, illum quis quam dicta odio recusandae magni sequi. Fuga, accusamus, reprehenderit. Quo fugit modi cupiditate veniam, nulla, ratione itaque!</p>
							</div>
					</div>
				</div>
			</div>

			<div id="contactus" class="container-fluid bg-grey" style="text-align: center;">
				<h1 style="padding-top: 50px;"> Contact Us</h1>
				<div class="container">
				<div class="row" style="align:center;">
					<div class="col-sm-12">
						<div id="myfirstcarousel" class="carousel slide" data-ride="carousel">
						 <ol class="carousel-indicators">
						    <li data-target="#myfirstcarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myfirstcarousel" data-slide-to="1"></li>
						    <li data-target="#myfirstcarousel" data-slide-to="2"></li>
						  </ol>
						<div class="carousel-inner">
							<div class="item active">
							<img src="https://travelnoire.com/wp-content/uploads/2014/02/Eiffel-Tower-Paris-France-1050x700.jpg" width="800px" height="600px"></img>
							</div>

							<div class="item">
							<img src="https://tctechcrunch2011.files.wordpress.com/2017/05/varcity_semantics.jpg?w=1372" width="800px" height="600px"></img>
							</div>

							<div class="item">
							<img src="https://wallpaperbrowse.com/media/images/Dubai-Photos-Images-Oicture-Dubai-Landmarks-800x600.jpg" width="800px" height="600px"></img>
							</div>
						</div>

						<a class="left carousel-control" href="#myfirstcarousel" data-slide="prev">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							    <span class="sr-only">Previous</span>
						</a>
							  <a class="right carousel-control" href="#myfirstcarousel" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							    <span class="sr-only">Next</span>
							  </a>
						</div>
					</div>
				</div>
			</div>
			</div>

            <div class="container-fluid text-center">
               <hr></hr>
               <a href="#portfolio" style="margin: 30px; vertical-align:middle; text-align: center;"> 
                Just some text.
               
				</a>
            </div> 
		</div>
	</body>

</html>